.sidenav-container {
  height: 100vh;
}

.title {
  font-weight: bold;
  margin-left: 8px;
}

mat-sidenav {
  width: 250px;

  mat-nav-list {
    span {
      vertical-align: super;
    }

    mat-icon {
      margin-right: 8px;
    }
  }

}

